\documentclass[justified]{$if(book)$tufte-book$else$tufte-handout$endif$}
\pdfprotrudechars2
\pdfadjustspacing2

\usepackage{fontspec, realscripts}

\newfontfeature{Microtype}{protrusion=default;expansion=default;}

\setmainfont[Microtype,Numbers=OldStyle,Ligatures=TeX]{Arno Pro}
\setsansfont{Linotype Syntax}

$if(title)$
\title{$title$}
$endif$
$if(author)$
\author{$for(author)$$author$$sep$\\$endfor$}
$endif$
$if(date)$
\date{$date$}
$endif$

\begin{document}
$if(title)$
\maketitle
$endif$

$for(include-before)$
$include-before$

$endfor$
$if(toc)$
\tableofcontents

$endif$
$body$
$if(biblio-files)$
$if(natbib)$
$if(biblio-title)$
$if(book-class)$
\renewcommand\bibname{$biblio-title$}
$else$
\renewcommand\refname{$biblio-title$}
$endif$
$endif$
\bibliography{$biblio-files$}
$endif$
$endif$
$if(biblatex)$
\printbibliography$if(biblio-title)$[title=$biblio-title$]$endif$
$endif$
$for(include-after)$

$include-after$
$endfor$

\end{document}
